* {
    padding: 0%;
    margin: 0%;
}

.header {
    min-height: 100vh;
    background: linear-gradient(rgba(29, 250, 147, 0.6), rgba(29, 250, 147, 0.6)), url('background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

nav {
    display: flex;
    padding: 0% 3%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-item {
    flex: 1;
    text-align: right;
}

.nav-item ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    color: #fff;
}

.nav-item ul li a {
    text-decoration: none;
    font-size: 14px;
}

.nav-item ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: hsl(135, 100%, 72%);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-item ul li:hover::after {
    width: 100%;
}

.main {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%);
}

.main h1 {
    font-size: 50px;
    font-family: serif;
}

.main p {
    font-size: 15px;
}

.box {
    display: inline-block;
    border: 1px solid #fff;
    color: #fff;
    padding: 12px 54px;
    background: transparent;
    text-decoration: none;
    margin-top: 10px;
    position: relative;
}

.box:hover {
    border: 1px solid #5ee63c;
    color: #fff;
    background-color: #5ee63c;
    transition: 0.8s;
}